<!DOCTYPE html>
<html land="pl">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <H1 style="font-weight: bold;">Witaj na mojej pierwszej stronie internetowej.</H1>
        <img src="{{url_for('static',filename='smile.png')}}" tittle="smiley face" height="200" width="200"/>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>